<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mouluso.liverolehistory"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapRoleActivity"
            android:label="@string/title_activity_map" 
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".ListViewHistories"
            android:label="@string/title_activity_list_view_histories" >
        </activity>
        <activity
            android:name=".LoadGameActivity" >
        </activity>
    </application>

</manifest>